*.class

# Package Files #
*.jar
*.war
*.ear
!gradle-wrapper.jar

# Eclipse
.settings
.classpath
.project

# Gradle
.gradle
build/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

# Mac OS specific
.DS_Store
.AppleDouble
.LSOverride

# IntelliJ Idea IDE excludes
.idea

# Dependency list from "gradle dependencies" command
dependencies.txt
