*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse
.settings
.classpath
.project

# Gradle
.gradle
build/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
